<!-- Trending -->
<div class="trending">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">trending now</h2>
            </div>
        </div>
        <div class="row trending_container">
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_1.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">grand hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_2.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">mars hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_3.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">queen hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_4.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">mars hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_5.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">grand hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_6.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">mars hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_7.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">queen hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
            <!-- Trending Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="trending_item clearfix">
                    <div class="trending_image"><img src="~/Content/images/trend_8.png"></div>
                    <div class="trending_content">
                        <div class="trending_title"><a href="#">mars hotel</a></div>
                        <div class="trending_price">From $182</div>
                        <div class="trending_location">madrid, spain</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
