<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-xs-2">
                    <div id="colorlib-logo">@Html.ActionLink("VietNam Travel","Index", "Home")</div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active">
                            @Html.ActionLink("Home","Index", "Home")
                        </li>
                        <li class="has-dropdown">
                            @Html.ActionLink("Tours", "Tours", "Home")
                        </li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
