@model Booking_Tour.Models.Users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="form-v8-content">
        <div class="form-left">
            <img src="../../../Content/images/Login/form.jpg" alt="form" class="h-100">
        </div>
        <div class="form-right d-flex justify-content-center flex-column">
            <div class="tab">
                <div class="tab-inner">
                    <button class="tablinks">Login</button>
                </div>
            </div>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-detail" }))
            {
                @Html.AntiForgeryToken()
                <div class="tabcontent">
                    <div class="form-row">
                        <label class="form-row-inner">
                            @Html.TextBoxFor(m => m.email, "", new { @class = "input-text" })
                            <span class="label">E-Mail</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            @Html.PasswordFor(m => m.password, new { @class = "input-text" })
                            <span class="label">Password</span>
                            <span class="border"></span>
                        </label>
                    </div>
                </div>
                <div class="form-row-last text-center">
                    <input type="submit" name="login" class="register" value="Login">
                </div>
            }
        </div>
    </div>
</div>
